<div class="ap-nav-pills-container">
    <ul class="ap-nav-pills">
        <li><a href="{{url_courses_sub_courses}}" class="{{#subtab_courses_active}}active{{/subtab_courses_active}}">{{#str}}list_courses, local_admin_panel{{/str}}</a></li>
        <li><a href="{{url_courses_sub_categories}}" class="{{#subtab_categories_active}}active{{/subtab_categories_active}}">{{#str}}list_categories, local_admin_panel{{/str}}</a></li>
    </ul>
</div>

{{{content}}}
